@charset "UTF-8";

/* RNews */

body {
	background: #EEEEEC;
	color: #000;
	font: normal 0.75em Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #a40000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

h2 {
	font-size: 1.5em;
}

cite {
	font-style: italic;
}

blockquote {
	background: transparent url("img/quote.png") top right no-repeat;
	font-style: italic;
	padding: .5em;
}

table {
	font: normal 1em Verdana;
	border-collapse: collapse;
	text-align: left;
}
th, td {
	width: 8em;
	height: 2em;
}
th {
	border-bottom: solid 1px #000;
}

code {
	font-size: 1.2em;
}

pre {
	font-size: .9em;
	border: solid 1px #ccc;
	padding: 1em;
	overflow: auto;
}

#rap {
	margin: 12px 30px;
	border: solid 1px #000;
	background: #fff;
}

#content {
	margin: 0 25em 0 0;
	min-width: 600px
}

#header {
	background: #a40000 url("forum/Themes/revo/images/headbg_bg.png") repeat-x;
	border: solid #fff 1px;
	border-bottom: solid #ccc 3px;
	margin: 0;
}

#header a {
	background: transparent url("forum/Themes/revo/images/headbg.png") no-repeat;
	height: 119px;
	display: block;
	overflow: hidden;
	text-indent: -9000px;
}

#tag {
	width: 165px;
	height: 20px;
	display: block;
	overflow: hidden;
	background: transparent url("img/newsblog_tag.png") no-repeat;
	position: absolute;
	margin: -30px 0 0 165px;
}

#paging {
	text-align: right;
}

#menu {
	position: absolute;
	right: 55px;
	top: 200px;
	width: 20em;
	background: #fff;
	padding: 1em;
}

#buttons {
	padding: 0;
	margin: 0 0 7em 0;
	list-style: none;
}

#buttons li {
	float: left;
	margin: .3em;
}

#buttons a {
	display: block;
	height: 60px;
	width: 70px;
	overflow: hidden;
	text-align: center;
	line-height: 100px;
}

#forum {
	background: transparent url("img/forum.png") no-repeat center top;
}

#feed {
	background: transparent url("img/feed.png") no-repeat center top;
}

#downloads {
	background: transparent url("img/downloads.png") no-repeat center top;
}

#search {
	text-align: center;
}

#ads {
	text-align: center;
}

#ads a {
	font: normal 2em Verdana, sans-serif;
}

.post {
	margin: 2em 1em;
}

.storytitle {
	font: normal 2em Verdana, sans-serif;
	clear: both;
}

.meta {
	margin: -2em 0 .5em 0;
	font-size: .8em;
	color: #999;
}

.storycontent {
	background: #FFFFBF url("img/tr_corner.png") top right no-repeat;
	padding: 1.2em;
	border-left: solid 2px #a40000;
}

.storycontent ul {
	list-style-position: inside;
}

.clear {
	clear: both;
}

.storycontent a {
	text-decoration: underline;
}

.feedback {
	margin-top: 0;
	text-align: right;
	font-size: 1.4em;
}

.hidden {
	display: none;
}

.credit {
	background: #a40000 url("forum/Themes/revo/images/headbg_bg.png") repeat-x center;
	color: #fff;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 3px;
	text-align: center;
	border: solid #fff 1px;
	border-top: solid #ccc 1px;
}

.credit a {
	color: #fff;
}


/* content style */

.L, .Lb {
	margin: .2em .8em 0 0;
	float: left;
	max-width: 128px;
	max-height: 128px;
}

.R, .Rb {
	margin: .8em;
	float: right;
}

.Lb, .Rb, .b {
	border: #000 solid 1px;
}

.odd {
	background: #ddd;
}
