@charset "UTF-8";

/* RNews */

#rap {
	margin: 12px 30px;
	border: solid 1px #000;
	background: #fff;
}

a {
	color: #000;
}

a img {
	border: none;
}

a:visited {
	color: #342;
}

a:hover {
	color: #CC0000;
}

.more-link {
	font: italic normal 1.2em Verdana, sans-serif;
	padding: .1em;
}

acronym, abbr {
	border-bottom: 1px dotted #333;
}

acronym, abbr, span.caps {
	font-size: 90%;
	letter-spacing: .07em;
}

acronym, abbr {
	cursor: help;
}

blockquote {
	clear: both;
	background: #FFF4CE;
	border: 1px solid #888A85;
}

blockquote p {
	font-style: italic;
	margin: 1em;
}

body {
	background: #EEEEEC;
	color: #000;
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

cite {
	font-style: italic;
}

h2 {
	border-bottom: 2px dotted #FFCE5D;
	font: normal 1.07em Verdana, sans-serif;
	padding: 0 0 2px 0;
}

h3 {
	border-bottom: solid 1px #ccc;
	font: bold .8em Verdana, sans-serif;
}

h4 {
	font: bold .8em Verdana, sans-serif;
}

p, li, .feedback {
	font: .8em/1.5em Verdana, sans-serif;
}

/* classes used by the_meta() */
ul.post-meta {
	list-style: none;
}

ul.post-meta span.post-meta-key {
	font-weight: bold;
}

hr {
	display: none;
}

.feedback {
	text-align: right;
	clear: both;
}

.meta {
	font: .7em Arial, sans-serif;
}

.meta li, ul.post-meta li {
	display: inline;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.meta, .meta a {
	color: #808080;
	font-weight: normal;
	background: #eeeeec;
}

.tags {
	font: .7em Arial, sans-serif;
	margin: 0;
	clear: both;
}

.tags a, #tag_cloud a {
	background: #ffffbf;
	border: solid 1px #FFDF95;
	padding: .1em .2em;
	text-decoration: none;
	position: relative;
}

#tag_cloud a:hover {
	z-index: 1;
}

#tag_cloud {
	width: 90%;
	text-align: center;
}

.storytitle {
	margin: 0;
	background: #fff;
}

.storytitle a, #feed, #forum {
	text-decoration: none;
}

.post {
	margin: 1em 0;
}

.avatar {
	float: left;
	margin: 1em;
}

.comment {
	padding: .5em;
}

.comment-even {
	background: #ebebeb;
	border: solid 1px #ddd;
}

.comment-author {
	clear: both;
	display: block;
	font-size: .7em;
}

#commentform #author, #commentform #email, #commentform #url, #commentform textarea {
	background: #fff;
	border: 1px solid #333;
	padding: .2em;
}

#commentform textarea {
	width: 100%;
}

#commentlist {
	border-left: 1px dotted #ccc;
	font-size: 1.2em;
	list-style-type: none;
}

#content {
	margin: 30px 13em 0 3em;
	padding-right: 60px;
}

#author {
	margin: 0 1em 0 0;
}

#header {
	background: #a40000 url("forum/Themes/revo/images/headbg_bg.png") repeat-x;
	border: solid #fff 1px;
	border-bottom: solid #ccc 3px;
	margin: 0;
}

#header a {
	background: transparent url("forum/Themes/revo/images/headbg.png") no-repeat;
	height: 119px;
	display: block;
	overflow: hidden;
	text-indent: -9000px;
}

.credit {
	background: #a40000 url("forum/Themes/revo/images/headbg_bg.png") repeat-x center;
	color: #fff;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 3px;
	text-align: center;
	border: solid #fff 1px;
	border-top: solid #ccc 3px;
}

.credit a {
	color: #fff;
}

#tag {
	width: 165px;
	height: 20px;
	display: block;
	overflow: hidden;
	background: transparent url("img/newsblog_tag.png") no-repeat;
	position: absolute;
	margin: -30px 0 0 165px;
}

#feed, #forum {
	text-align: center;
	width: 55px;
	height: 65px;
	display: block;
	line-height: 100px;
	position: absolute;
}

#btnz {
	margin: 0 0 4.2em 0;
}

#forum {
	background: transparent url("img/forum.png") no-repeat center top;
	margin: 0 0 0 .6em;
}

#feed {
	background: transparent url("img/feed.png") no-repeat center top;
	margin: 0 0 0 4.4em;
}

#menu {
	background: #fff;
	border-left: 1px dotted #ccc;
	border-top: solid 5px #FFCE5D;
	padding: 20px 0 10px 30px;
	position: absolute;
	right: 40px;
	top: 90px;
	width: 11em;
}

#menu form {
	margin: 0 0 0 13px;
}

#menu input#s {
	width: 80%;
	background: #eee;
	border: 1px solid #999;
	color: #000;
}

#menu ul {

	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
}

#menu ul li {
	font: italic 1.1em "Times New Roman", Times, serif;
	letter-spacing: .2em;
	margin-top: 10px;
	padding-bottom: 2px;
}

#menu ul ul {
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	border: 0;
	font: normal normal .7em/1.2em Verdana, sans-serif;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0;
	padding-left: 12px;
}

#menu ul a {
	color: #000;
	text-decoration: none;
}

#menu ul ul li a:hover {
	border-bottom: 1px solid #809080;
}

#menu ul ul ul.children {
	font-size: 142%;
	padding-left: 4px;
}

#catg {
	background: #ccc;
}

table {
	font: normal .8em Verdana;
	border-collapse: collapse;
	text-align: left;
}
th, td {
	width: 8em;
	height: 2em;
}
th {
	border-bottom: solid 1px #000;
}

.more {
	color: #f00;
}

code {
	font-size: 1.2em;
}
pre {
	font-size: .9em;
	border: solid 1px #ccc;
	padding: 1em;
	overflow: auto;
}

.L, .Lb {
	margin: .8em;
	float: left;
	max-width: 128px;
	max-height: 128px;
}

.R, .Rb {
	margin: .8em;
	float: right;
}

.Lb, .Rb, .b {
	border: #000 solid 1px;
}

.odd {
	background: #ddd;
}
